@media screen and (min-width: 960px) {

    footer {
        .footer-socials {
            position: fixed;
            bottom: 1rem;
            right: 12%;
            display: flex;
            flex-direction: row;
            list-style: none;

            .footer-social-item {
                margin-left: 1.4rem;

                i {
                    font-size: 1.4rem;
                    color: $accent2;
                }
            }
        }
    }

}