@media screen and (min-width: 960px) {

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $background-color;
        padding: .6rem 0;

        .footer-socials {
            display: flex;
            flex-direction: row;
            list-style: none;

            .footer-social-item {
                margin-right: 1.4rem;

                i {
                    font-size: 1.4rem;
                    color: $accent2;
                }
            }
        }
    }

}