.projects {
    margin-top: 2rem;

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .project-item {
            width: 100%;
            margin-bottom: 2rem;

            .project-view {
                position: relative;
                overflow: hidden;

                img {
                    max-width: 100%;
                    transition: all .4s ease-in;

                }

                .clickthroughs {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all .4s ease-in;

                    a {
                        font-size: .7rem;
                        text-transform: uppercase;
                        color: $accent2;
                        text-decoration: none;
                        display: block;
                        margin: 1rem 0;

                        i {
                            margin-left: .4rem;
                        }
                    }
                }

                &:hover .clickthroughs {
                    opacity: 1;
                    
                }

                &:hover img {
                    opacity: 0.2;
                }
            }

            .project-details {
                display: flex;
                justify-content: space-between;

                .title-and-desc {

                    p:nth-child(1) {
                        font-size: 1rem;
                        color: $accent2;
                        font-weight: 700;
                    }

                    p:nth-child(2) {
                        font-size: .6rem;
                        color: lighten($font-color, 20%);
                        margin-top: -.6rem;

                    }
                }

                .languages {
                    display: flex;
                    font-size: .5rem;
                    list-style: none;

                    li {
                        margin-left: .2rem;

                        &:nth-child(odd) {
                            opacity: .9;
                        }
                    }

                }

            }
        }

    }
}

@media screen and (min-width: 960px) {
    .projects {
        margin-top: 0;
        max-height: 90vh;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}

@media screen and (min-width: 1200px) {
    .projects {
        margin-top: 0;
        max-height: 90vh;
        overflow: scroll;
        scroll-behavior: smooth;

        div.projects-container {
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            align-items: initial;
            max-height: inherit;
            max-height: 150vh;
            padding-bottom: 10vh;

            .project-item {
                width: 47%;
                margin-bottom: 1rem;

                .project-details {
                    .title-and-desc {
                        p:nth-child(1) {
                            font-size: .8rem;
                        }
                        p:nth-child(2) {
                            font-size: .5rem;
                        }
                    }

                    .languages {

                        li {
                            font-size: .4rem;
                        }
                    }
                }
            }

            .project-item:nth-child(2n+1) { order: 1;}
            .project-item:nth-child(2n+2) { order: 2;}
            // .project-item:nth-child(2n)   { order: 3; }
        }
    }
}